<?xml version="1.0" encoding="utf-8"?>
<root>

    <!--
        Описание главного меню подсистемы
    -->


    <menu title="Администрирование" icon="admin" expanded="false" bold="true" target="platform-adm">

        <action title="Пользователи" icon="user"
                frame="js/platform/usr/authuser/authUser_list.gf" id="true" target="adm-user"/>

        <action title="Роли" icon="role"
                frame="js/platform/usr/authrole/authRole_list.gf" id="true" target="adm-role"/>

    </menu>


    <menu title="Справочники" icon="dict" expanded="false" bold="true" target="platform-spr">

        <action title="Виды валют" icon="currency"
                frame="js/platform/spr/currency/currency_list.gf" id="true" target="currency"/>

        <action title="Вид сообщения" icon="typ-route"
                frame="js/platform/spr/routeType/routeType_list.gf" id="true" target="typ-route"/>

        <action title="Тип услуги" icon="service"
                frame="js/platform/spr/servicetype/serviceType_list.gf" id="true" target="typ-service"/>

        <action title="Тип несобственной услуги" icon="serviceNS"
                frame="js/platform/spr/servicenstype/serviceNSType_list.gf" id="true" target="nstyp-service"/>

        <action title="Тип собственной услуги" icon="servicestype"
                frame="js/platform/spr/servicestype/serviceSType_list.gf" id="true" target="styp-service"/>

        <action title="Тип транспортного средства" icon="typ-ts"
                frame="js/platform/spr/ts/tsType_list.gf" id="true" target="typ-ts"/>

        <action title="Принадлежность транспортного средства" icon="ts-attach"
                frame="js/platform/spr/tSAttach/tSAttach_list.gf" id="true" target="ts-attach"/>

        <action title="Тип вагона" icon="typ-van"
                frame="js/platform/spr/ts/vagonType_list.gf" id="true" target="typ-van"/>

        <action title="Тип контейнера" icon="typ-cont"
                frame="js/platform/spr/ts/contType_tree.gf" id="true" target="typ-cont"/>

        <action title="Тип клиента" icon="typ-client"
                frame="js/platform/spr/clienttype/clientType_list.gf" id="true" target="typ-client"/>

        <action title="Тип поставщика услуг" icon="typ-provider"
                frame="js/platform/spr/providerType/providerType_list.gf" id="true" target="typ-provider"/>

        <action title="Тип резидента" icon="typ-rezident"
                frame="js/platform/spr/rezidentType/rezidentType_list.gf" id="true" target="typ-rezident"/>

        <action title="Собственники вагонов" icon="owner-ts"
                frame="js/platform/spr/ownerTS/ownerTS_list.gf" id="true" target="owner-ts"/>

        <action title="Тип отправки" icon="typ-shipping"
                frame="js/platform/spr/shippingtype/shippingType_list.gf" id="true" target="typ-shipping"/>

        <action title="Тип документа" icon="doctype"
                frame="js/platform/spr/documenttype/documentType_list.gf" id="true" target="doc-type"/>

        <action title="Тип претензии" icon="typ-pretension"
                frame="js/platform/spr/pretensiontype/pretensionType_list.gf" id="true" target="typ-pretension"/>

    </menu>

    <menu title="Классификаторы" icon="classifier" expanded="false" bold="true" target="platform-classifier">

        <action title="Номенклатура грузов" icon="cargo"
                frame="js/platform/classifier/cargo/cargo_list.gf" id="true" target="cargo"/>

        <action title="Филиалы, агентства и отделы" icon="agency"
                frame="js/platform/classifier/agency/agency_tree.gf" id="true" target="agency"/>

        <action title="Администрации железных дорог" icon="railway-adm"
                frame="js/platform/classifier/adm_rw/railwayAdm_list.gf" id="true" target="spr-adm"/>

        <action title="Услуги" icon="service"
                frame="js/platform/classifier/services/service_list.gf" id="true" target="service"/>

        <action title="Поставщики услуг" icon="serviceman"
                frame="js/platform/classifier/providers/providers_list.gf" id="true" target="serviceman"/>

        <action title="Клиенты" icon="clients"
                frame="js/platform/classifier/clients/clients_list.gf" id="true" target="clients"/>


    </menu>

    <menu title="Ставки" icon="operation" expanded="false" bold="true" target="platform-stavka">

        <action title="Квитанции со станции" icon="cashregister"
                frame="js/platform/uslugi/localservices/receiptStation/receiptStation_list.gf" id="true" target="cashregister"/>

        <action title="Ставки НДС" icon="percent"
                frame="js/platform/stavka/nds/nds_list.gf" id="true" target="percent"/>

        <action title="Расчеты ставки КТС" icon="coin"
                frame="js/platform/stavka/calcNDS/calcNDS_list.gf" id="true" target="percent"/>

    </menu>

    <menu title="Подкоды" icon="barcode" expanded="false" bold="true" target="platform-podcods">

        <action title="Подкоды для филиалов" icon="podcod"
                frame="js/platform/podcods/isolated/podCodRegister_list.gf" id="true" target="isolated"/>

        <action title="Подкоды для клиентов" icon="podcod"
                frame="js/platform/podcods/issued/podCods_list.gf" id="true" target="issued"/>

        <action title="Отработанные подкоды" icon="podcod"
                frame="js/platform/podcods/assigned/shipping_list.gf" id="true" target="assigned"/>

        <action title="Отсутствующие подкоды" icon="podcod"
                frame="js/platform/podcods/missing/missing_list.gf" id="true" target="missing"/>


    </menu>


    <menu title="Услуги" icon="meeting" expanded="false" bold="true" target="platform-usluga">

        <action title="Экспедирование перевозки грузов в контейнерах" icon="cont-cargo"
                    frame="js/platform/uslugi/cargoincontainer/cargocont_list.gf" id="true" target="usl-expedir"/>

        <action title="Подсыл порожних контейнеров" icon="cont-cargo"
                    frame="js/platform/uslugi/subfamily/subfamily_list.gf" id="true" target="usl-subfamily"/>

        <action title="Объемы по местным услугам" icon="localservice"
                frame="js/platform/uslugi/localservices/localservices_list.gf" id="true" target="usl-local"/>

        <!--<action title="Услуги СВХ" icon="storage"
                    frame="js/platform/uslugi/storage/storage_list.gf" id="true" target="usl-svh"/>-->

        <action title="Услуги по ремонту контейнеров" icon="rem-container"
                    frame="js/platform/uslugi/remcontainer/remcontainer_list.gf" id="true" target="usl-cont"/>

        <action title="Автоуслуги" icon="avtouslugi"
                    frame="js/platform/uslugi/avtouslugi/avtouslugi_list.gf" id="true" target="usl-avto"/>

        <action title="Авиауслуги" icon="aviauslugi"
                    frame="js/platform/uslugi/aviauslugi/aviauslugi_list.gf" id="true" target="usl-avia"/>

        <action title="Продажа пассажирских билетов" icon="aviauslugi"
                    frame="js/platform/uslugi/cargoincontainer/mock.gf" id="true" target="usl-passenger"/>

    </menu>


    <!-- ===================================================================== -->


    <menu title="Импорт" icon="import" expanded="false" bold="true" target="platform-imp">
        <action title="Импорт данных ТехПД" icon="table-import"
                frame="js/platform/imp/tehpd/file_list.gf" id="true" target="imp-teh"/>

        <action title="Импорт данных таможенных брокеров" icon="table-import"
                frame="js/platform/imp/custom/custom_list.gf" id="true" target="imp-custom"/>

        <action title="Импорт данных Транзит" icon="table-import"
                frame="js/platform/imp/craschet/craschet_list.gf" id="true" target="imp-transit"/>

        <action title="Импорт данных Перегруз" icon="table-import"
                frame="js/platform/imp/reload/reload_list.gf" id="true" target="imp-reload"/>

        <action title="Импорт данных Оперирование по заявке" icon="table-import"
                frame="js/platform/imp/oper/oper_list.gf" id="true" target="imp-oper"/>

        <action title="Импорт данных Оперирование без заявки" icon="table-import"
                frame="js/platform/imp/operinv/operinv_list.gf" id="true" target="imp-operkdts1"/>

        <action title="Импорт MD4" icon="table-import"
                frame="js/platform/imp/md4/mD4_list.gf" id="true" target="imp-md4"/>

        <action delim="-"/>

        <action title="Услуги импорта" icon="impview"
                frame="js/platform/imp/impview/impview_list.gf" id="true" target="imp-view"/>

    </menu>

    <menu title="Отчеты" icon="report" expanded="false" bold="true" target="platform-rep">
        <action title="Отчет формы 4а" icon="report-excel"
                frame="js/platform/report/form/form_list.gf" id="true" target="rep-form4"/>

        <action title="Отчет по дополнительным сборам" icon="report-excel"
                frame="js/platform/report/dopsbor/dopsbor_list.gf" id="true" target="rep-dopsbor"/>

        <action title="Реестр по дополнительным сборам" icon="report-excel"
                frame="js/platform/report/registryDopsbor/registry_dopsbor_list.gf" id="true" target="rep-registrydopsbor"/>

        <!--<action title="Дополнительные сборы по филиалам" icon="report-excel"
                frame="js/platform/report/dopsborfilial/dopsborfilial_list.gf" id="true" target="rep-dopsborfilial"/>-->

        <action title="Отчет по доходам" icon="report-excel"
                frame="js/platform/report/containertransport/containertransport_list.gf" id="true" target="rep-containertransport"/>

     <!--   <action title="Отчет по стыкам" icon="report-excel"
                frame="js/platform/report/joint/joint_list.gf" id="true" target="rep-joint"/>-->

        <action title="Прейскурант цен и тарифов" icon="report-excel"
                frame="js/platform/report/preisqurant/preisqurant_list.gf" id="true" target="rep-preisqurant"/>

        <action title="Отчет по расходам КТС" icon="report-excel"
                frame="js/platform/report/expenses/expenses_list.gf" id="true" target="rep-expenses"/>

        <action title="Акт сверки" icon="report-excel"
                frame="js/platform/report/reconciliation/reconciliation_list.gf" id="true" target="rep-reconciliation"/>

        <action title="Отчет по ТехПД" icon="report-excel"
                frame="js/platform/report/tehpd/tehpd_list.gf" id="true" target="rep-tehpd"/>

        <action title="Отчет сводный" icon="report-excel"
                frame="js/platform/report/summary/summary_list.gf" id="true" target="rep-summary"/>

        <action title="Отчет для бухгалтеров" icon="report-excel"
                frame="js/platform/report/bookkeeper/bookkeeper_list.gf" id="true" target="rep-bookkeeper"/>

        <action title="Отчет Ф07-08" icon="report-excel"
                frame="js/platform/report/f0708/f0708_list.gf" id="true" target="rep-f0708"/>

        <action title="Перечень выполненных работ" icon="report-excel"
                frame="js/platform/report/executedworks/executedworks_list.gf" id="true" target="rep-executedworks"/>

        <action title="Плата за пользование контейнера" icon="report-excel"
                frame="js/platform/report/paycontainer/paycontainer_list.gf" id="true" target="rep-paycontainer"/>

        <action title="Корректировки" icon="report-excel"
                frame="js/platform/report/correction/correction_list.gf" id="true" target="rep-correction"/>

        <action title="Сформировать счет-фактуру" icon="report-excel"
                frame="js/platform/report/invoicerep/invoice_report.gf" id="true" target="rep-invoice_report"/>

        <action title="Отчет по автоуслугам" icon="report-excel"
                frame="js/platform/report/avtouslugirep/avtouslugi_report.gf" id="true" target="rep-avtouslugi_report"/>

        <action title="Реестр отработанных сумм" icon="report-excel"
                frame="js/platform/report/registrywastesum/registry_waste_sum.gf" id="true" target="rep-wastesum_report"/>

        <action title="Количество отработанных документов" icon="report-excel"
                frame="js/platform/report/workDoc/workDoc_list.gf" id="true" target="rep-workdoc_report"/>

        <action title="Реестр счет - фактур по дополнительным сборам" icon="report-excel"
                frame="js/platform/report/registrInvoiceDop/registryInvoiceDop_list.gf" id="true" target="rep-registryInvoiceDop"/>

        <action title="Настройки подписантов" icon="service"
                frame="js/platform/report/reportsettings/reportSettings_list.gf" id="true" target="reportsettings"/>

        <action title="..." icon="report-excel"
                frame="js/platform/report/defpackage/defpackage_list.gf" id="true" target="adm-user"/>

        <action delim="-"/>

        <action title="Cчета-фактуры" icon="invoice"
                frame="js/platform/uslugi/invoice/invoice_list.gf" id="true" target="usl-invoice"/>

        <action title="Реестр счетов-фактур поставщиков" icon="invoice"
                frame="js/platform/uslugi/providersinvoice/providersInvoice_list.gf" id="true" target="usl-pinvoice"/>

    </menu>


    <menu title="Справка" icon="helps" expanded="false" bold="true">
        <!--
            атрибут target не нужен, т.е. всегда видно
        -->

        <action title="История" icon="history"
                frame="js/platform/history/history_list.gf" id="true"/>

        <action delim="-"/>

        <action title="Помощь" icon="help"
                frame="js/platform/help/help.gf" id="true"/>

        <action delim="-"/>

        <action title="О программе..." icon="info"
                frame="js/platform/about.gf"/>
    </menu>


</root>